body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.login-container {
    width: 300px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ccc;
    margin: 50px auto;
}

.logo {
    width: 100px;  /* Adjust logo size */
    margin-bottom: 10px;
}
